@import '../../styles/global';

.banner {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;

  .bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .bannerContainer {
    position: relative;
    z-index: 2;
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: left;
    color: white;

    h1 {
      font-size: 3rem;
      font-weight: 500;

      span {
        // não quebrei linha com o <br> pois atrapalha no SEO porque a SERP fica quebrada por ser h1
        display: block;
        margin-top: -10px;
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 400;

      span {
        color: $yellow;
        font-weight: 700;
      }
    }

  }

  .btn {
    @include btn($yellow, #271C47);
    text-transform: capitalize
  }

}

@media (max-width: $breakpoint-ipad) {
  .banner {
    height: 300px;

    .bannerContainer {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

.categories {
  @include container;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 38px;
  transition: .3s;

     div:hover h3{
      color: $purple;
    }

  .categoriesImg {
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    padding: 2.125rem;
    border-radius: 10px;
    background-color: #F4F4F4;
    transition: .3s;

    &:hover {
      background-color: #fff;
    }
  }

  >div:first-child {
    .categoriesImg {
      background-color: #fff;
    }

    h3 {
      color: $purple;
    }
  }

  h3 {
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    margin-top: 22px;
    color: #4E4E4E;
  }


  @media screen and (max-width: $breakpoint-ipad) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }


  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}